image: node:10 
cache:
  paths:
    - node_modules/ 

deploy_production:
  # only:
  #   refs:
  #     - master
  stage: deploy
  environment: Production
  script:
    - echo "Installing yarn"
    - yarn install
    - echo "Building the application"
    - yarn build
    - echo "Getting into build folder"
    - cd build/
    - ls -l
    # - rsync -av --delete build/ $WEB_ROOT/VSM/SOB/test
    #- lftp -e "open sftp://ltc.bcit.ca; user $FTP_USERNAME $FTP_PASSWORD; mirror -X .* -X .*/ --reverse --verbose build /html/VSM/SOB/test; bye"
