# variables:
#   TEST_URL: "https://test.ltc.bcit.ca"
#   PROD_URL: "https://ltc.bcit.ca"
#   WEB_ROOT: "/var/www/html"

cache:
  paths:
    - node_modules/ 

deploy_production:
  # only:
  #   refs:
  #     - master
  stage: deploy
  script:
    - echo "Installing npm"
    - npm install
    - echo "Building the application"
    - npm run build
    - echo "Build done "
    - cd ..
    - echo $pwd
    - ls -l
    # - rsync -av build/ /var/www/html/VSM/SOB/test
    #- lftp -e "open sftp://ltc.bcit.ca; user $FTP_USERNAME $FTP_PASSWORD; mirror -X .* -X .*/ --reverse --verbose build /html/VSM/SOB/test; bye"
