variables:
  TEST_URL: "https://test.ltc.bcit.ca"
  PROD_URL: "https://ltc.bcit.ca"
  WEB_ROOT: "/var/www/html"

stages:
  - build
  - deploy

build:
  only:
    refs:
      - production
      - staging
  stage: build
  script:
    - echo "Installing npm"
    - npm install
    - echo "Building the application"
    - npm run build
    - echo "Build done"
  artifacts:
    paths:
      - build/

deploy_production:
  only:
    refs:
      - production
      - staging
  stage: deploy
  script:
    - mkdir -p "$WEB_ROOT/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME"
    - cd build && rsync -av --delete . $WEB_ROOT/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME
  environment:
    name: $CI_COMMIT_REF_NAME
    url: "$TEST_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME"
  tags:
    - $CI_COMMIT_REF_NAME