image: node:latest

cache:
  paths:
    - node_modules/
    - app/bower_components

before_script:
  - rm -rf build
  - apt-get update -qq && apt-get install -y -qq sshpass rsync

deploy_production:
  # only:
  #   refs:
  #     - master
  stage: deploy
  environment: Production
  script:
    - yarn install
    - yarn build
    - cd build/
    - ls
    - sshpass -V
    - export SSHPASS=$FTP_PASSWORD
    - sshpass -e rsync -r --omit-dir-times -e "ssh -o StrictHostKeyChecking=no" . $FTP_USERNAME@$142.232.76.65:/html/VSM/SOB/test

    #- lftp -e "open sftp://ltc.bcit.ca; user $FTP_USERNAME $FTP_PASSWORD; mirror -X .* -X .*/ --reverse --verbose build /html/VSM/SOB/test; bye"
