image: node:latest

cache:
  paths:
    - node_modules/
    - app/bower_components

before_script:
  - rm -rf build
  - CI=false npm install

deploy_production:
  only:
    refs:
      - master
  stage: deploy
  environment: Production
  script:
    - npm install
    - npm run build
    - apt-get update -qy
    - apt-get install -y lftp
    - lftp -e "open sftp://ltc.bcit.ca; user $FTP_USERNAME $FTP_PASSWORD; mirror -X .* -X .*/ --reverse --verbose build /html/VSM/SOB/test; bye"
