variables:
  TEST_URL: "https://test.ltc.bcit.ca"
  PROD_URL: "https://ltc.bcit.ca"
  WEB_ROOT: "/var/www/html"

stages:
  - build
  - deploy

build:
# only:
#     refs:
#       - master
  stage: build
  script:
    - echo "Installing npm"
    - npm install
    - echo "Building the application"
    - npm run build
    - echo "Build done "
    - ls -l
    
deploy_production:
  # only:
  #   refs:
  #     - master
  stage: deploy
  script:
    - mkdir -p "$WEB_ROOT/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME"
    - cd build && rsync -av --delete . $WEB_ROOT/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME
  environment:
    name: production
    url: "$TEST_URL/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME"
  # tags:
  #   - production