image: node:latest

variables:
  TEST_URL: "https://test.ltc.bcit.ca"
  PROD_URL: "https://ltc.bcit.ca"
  WEB_ROOT: "/var/www/html"

cache:
  paths:
    - node_modules/
    - app/bower_components

before_script:
  - rm -rf build

deploy_production:
  # only:
  #   refs:
  #     - master
  stage: deploy
  environment:
    name: production
    url: "$PROD_URL/VSM/SOB/test"

  script:
    - ls -l
    - npm install
    - npm build
    - cd .. && ls -l
    - rsync -av --delete build/ $WEB_ROOT/VSM/SOB/test

    #- lftp -e "open sftp://ltc.bcit.ca; user $FTP_USERNAME $FTP_PASSWORD; mirror -X .* -X .*/ --reverse --verbose build /html/VSM/SOB/test; bye"
