name: ${APP_NAME:-distribution-game}

services:
  app:
    image: node:14

    working_dir: /app

    command: >
      sh -c "npm install && npm run start"

    environment:
      - DEBUG=True
      - CHOKIDAR_USEPOLLING=true

    tty: true

    volumes:
      - ./:/app
      - /app/node_modules

    ports:
      - "3000:3000"
